<div class="container	content">
  <div class="row">
    <div class="col-md-6	offset-md-3">
      <div class="card	card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Ingreso de nuevos alumnos</h3>
        </div>
        <form>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre del alumno" #nombre>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Apellido</label>
            <input type="text" class="form-control" id="apellido" placeholder="Ingrese el apellido del alumno"
              #apellido>
          </div>
          <button type="submit" class="btn btn-primary" (click)="agregar(nombre.value, apellido.value)">Agregar
            alumno</button>
        </form>
      </div>
    </div>
    <hr class="mb-5">
    <div class="col-md-6	offset-md-3">
      <div class="card	card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Listado de ingreso</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let a of alumnos">{{a.nombre}} {{a.apellido}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>