<div class="jumbotron">
  <h1 class="display-4">Bienvenido</h1>
  <p class="lead">Esta es una simple SPA para probar los contenidos de angular vistos en el primer módulo del curso.</p>
</div>
<app-listado></app-listado>